<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximim-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<table>
    {% for book in books %}
        <tr>
                <td> {{ book.title }}</td>
                <td> {{ book.year }}</td>
                <td> {{ book.count }}</td>
                <td>{{ book.author }}</td>
            {% endfor %}
        </tr>
        <tr></tr>
    {% endfor %}
</table>
</body>
</html>