<!doctype html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<button type="button" style="border-radius: 10%"><a href="{{ url_for('form_page') }}">Отправить</a></button>
<a href="{{ url_for('form_page') }}">
<!--    <img src="/static/image/foto.jpg" alt="Моё фото" width="300" height="200">-->
    <img src="/static/image/foto.jpg" alt="Моё фото" title="12345"
         width="300" height="200">
</a>
<!--<h1 class="text-monospace">Hello, my name is Helen</h1>-->
<!--<img src="/static/image/foto.jpg" alt="Моё фото" width="300">-->
<!--<p class="text-body text-justify">Lorem ipsum dolor sit amet,-->
<!--consectetur adipisicing elit. Ad cupiditate doloribus ducimus nam-->
<!--provident quo similique! Accusantium aperiam fugit magnam quas-->
<!--reprehenderit sapiente temporibus voluptatum!</p>-->
<p class="alert-dark">Все права защищены @</p>
</body>
</html>
