{% extends 'base.html' %}

{% block title %}
    {{ super() }} - {{ title }}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-12 col-md-6 col-lg-4">
            <p>Lorem iprum dolor sit amet, consectetur adipisicing elit. Colpa, fugiat</p>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
            <p>Dicta id officia quibusdam vel voluptates</p>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
            <p>Ab accusamus delectus et expedita id iste</p>
        </div>
    </div>
{% endblock %}