<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>online_store</title>
</head>
<body>
<div class="container-fluid">
    <ul class="nav nav-pills justify-content-end align-items-end">
        <li class="nav-item"><a href="/online_store/" class="nav-link">Главная</a></li>
        <li class="nav-item"><a href="/clothes/" class="nav-link">Одежда</a></li>
        <li class="nav-item"><a href="/shoes/" class="nav-link">Обувь</a></li>
        <li class="nav-item"><a href="/caps/" class="nav-link">Шапки</a></li>
    </ul>
    {% block content %}
    <h1>Магазин Плюшкин-Мушкин приветствует Вас на своей страничке!</h1>
    <img src="/static/image/HTB1ppWjXfLsK1Rjy0Fbq6xSEXXa5.jpg" class="col-12 col-md-6-->
    <!--        img-fluid rounded-circle" alt="фото">
    {% endblock %}
    <div class="row fixed-bottom modal-footer">
        <hr>
        <p>Все права защищены @</p>
    </div>
</div>
</body>
</html>